@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* 
{
  box-sizing: border-box;
}

.charsheet
{
  max-width: 950px;
}

 p
{
  font-size: 10px;
}
.text{
  font-size: 16px;
}

.sheet-saves-stats div div :first-child{
  background: url("image/stas.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 95%;
  width: inherit;
  column-gap: 50px;
  margin: 0px;
  padding: 0px;
}

  .sheet-saves-stats {
padding: 10px;
padding-top: 20px;
min-height: 130px;
display: grid;
grid-template-columns: auto auto auto auto auto;
justify-content: space-evenly;
overflow: auto;
column-gap: 5px;
}

.sheet-saves-stats div div input
{
  font-size: 22px;
  border: none;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: transparent;
  outline: none;
  height: 100%;
}


.sheet-saves-stats div{
  height: 100%;
  width: 80px;
  text-align: center;
}

.sheet-saves-stats div div:last-child
{
  background-size: 100% 70%;
  height: 30%;
  width: inherit;
  padding-top: 7px;
}

.sheet-header2
{
  display: grid;
  gap: 30px;
  grid-template-columns: 48% 48%;
  height: 230px;
}

.sheet-header2 div:first-child
{
  height: 100%;
  text-align: center;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
  min-width: 50px;
}

.sheet-header2 div:first-child div 
{
  background: url("image/stas.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100px;
}

.sheet-header2 div:last-child
{
  background: url("image/combat.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto, auto auto auto;

}

.sheet-header2 .left div
{
  height: 20px;
  border: 1px solid green;
}


.sheet-skills
{
border-left: 5px double black;
border-right: 5px double black;
border-bottom: 2px solid black;
border-top: 2px solid black;
padding: 10px;
padding-top: 20px;
min-height: 130px;
display: grid;
grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
justify-content: space-evenly;
overflow: auto;
column-gap: 5px;
}

.sheet-skills-title
{
  transform: translateY(15px);
  margin: auto;
  text-align: center;
  width: 150px;
  background-color: white;
  font-size: 20px !important;
}

.sheet-skills div
{
  height: 100%;
  width: 80px;
  text-align: center;

}

.sheet-skills div div:first-child
{
  background: url("image/skills.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 70%;
  width: inherit;
  column-gap: 50px;
}
.sheet-skills div div input
{
  font-size: 22px;
  border: none;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: transparent;
  outline: none;
  height: 100%;
}
.sheet-skills div div:last-child
{
  background-size: 100% 70%;
  height: 30%;
  width: inherit;
  padding-top: 7px;
}
.sheet-skills div div *
{
  margin: 0px;
  padding: 0px;
}


.charsheet .sheet-text-container{
  max-width: inherit;
  display: grid;
  grid-template-columns: 23% 77%;
  margin-top: 30px;
}
.sheet-pc-text{
  padding-left: 50px;
}