@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* 
{
  box-sizing: border-box;
}

.header{
  background-image: url('image/Screenshot_2023-12-14_200200-removebg-preview.png');
  background-repeat: no-repeat;
}